{% extends "quoteapp/base.html" %}

{% block content %}

<h2>Password reset</h2>
<form method="post">
    {% csrf_token %}
    
    <div class="form-floating mb-3 col-md-4">
        {{ form.email }}
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {% for error in form.email.errors %}
            <label class="text-danger" for="floatingInputInvalid"> {{ error }}</label>
        {% endfor %}
    </div>

    <div class="d-grid gap-2 col-md-4">
        <button type="submit" class="btn btn-outline-primary">Request password reset</button>
        <button type="reset" class="btn btn-outline-warning">Reset</button>
    </div>
</form>

{% endblock %}
